:root {
  --text-color: #000;
  --bg-color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*header section*/
header {
  position: sticky;
  top: 0;
  left: 0;

  background-color: var(--bg-color);
}
.main-header {
  width: 100%;
  padding: 5px;
  background-color: #ffe8df;
}
.sub-header {
  width: 90%;
  margin: 0 auto;
  padding: 3px;
  /* background-color: red; */
}
.sub-header > p {
  font-size: 0.955rem;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
}
/*navbar section*/
.navbar {
  width: 100%;
  box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.226);
  padding: 5px;
  /* background-color: var(--text-color); */
}
.sub-nav {
  background-color: #fff;

  width: 90%;
  margin: 0 auto;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.for-logo {
  width: 240px;
  padding: 2px;
}
.for-logo > a {
  padding: 3px 2px;
}
.for-logo > a > img {
  max-width: 100%;
  height: auto;
}

.for-navitems {
  display: flex;
  padding: 10px;
  margin: 0 15px;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links > ul > li {
  display: inline;
}
.nav-links > ul > li > a {
  padding: 14px 5px;
  font-size: 0.845rem;
  text-transform: uppercase;
  color: var(--text-color);
}
.for-search {
  position: relative;
  margin-right: 1%;
}
.for-search > input {
  font-size: 0.975rem;
  border: none;
  outline: 0.5px solid gray;
  padding: 0.7em;
  font-family: "icomoon";
  border-radius: 5px;
}
.for-search > input:focus {
  outline-color: deeppink;
}
.for-search > p {
  position: absolute;
  top: 1%;
  font-size: 1.7rem;
  right: 17%;
}
.for-search > img {
  width: 30px;
  height: auto;
  position: absolute;
  top: 10%;
  right: 1%;
}
.search-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin: 0 5px;
}
.icons {
  margin-left: 15px;
  display: flex;
  position: relative;
  gap: 20px;
}
.icons > .fa-shopping-cart,
.icons > .fa-heart-o {
  font-size: 24px;
}
.icons > .fa-facebook-f,
.fa-linkedin-square {
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: #fff;
  text-align: center;
  background-color: gray;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.icons > .fa-facebook-f:hover,
.icons > .fa-linkedin-square:hover,
.i {
  background-color: deeppink;
}
.for-cart-wish {
  padding: 0 8px;
  font-size: 24px;
}
.ca {
  color: white;
  width: 15px;
  height: 20px;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
  padding: 2px;
  background-color: gray;
  transition: all 0.5s ease;
}

.for-cart {
  position: absolute;
  left: 63%;
  top: -50%;
}
.for-wish {
  position: absolute;
  right: 1%;
  top: -50%;
}

/* hero-section */
.main-container {
  overflow: hidden;
  width: 100%;
  height: 90vh;
  background-image: url("./Ascets/banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 55%;
}
.sub-container {
  max-width: 500px;
  margin-top: 6.7%;
  margin-left: 5.3%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.for-head1 > h2 {
  color: #fff;
  font-size: 3.531rem;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}
.for-head-2 > h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  font-family: "jost", sans-serif;
}
.for-img > img {
  margin-left: -8%;
  object-fit: contain;
}
.for-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.for-buttons > button {
  width: fit-content;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding: 0.8em 3em;
  font-weight: 600;
  color: #888;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
  border: 1px solid #f0f0f0;
  outline: none;
}
.for-buttons > button:hover {
  background-color: #fff;
}
.grid-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 50vh;
  grid-template-columns: repeat(7, 175px);
  column-gap: 8px;
  padding: 15px;
}
.grid-container > div {
  border-radius: 50%;
}
.grid-container>div>p {
  color: #888;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  font-family: sans-serif;
}
.grid-container > div > img {
  border-radius: 50%;
  max-width: 100%;
  object-fit: cover;
}
.grid-1,
.grid-7 {
  position: relative;
}
.grid-1 > .fa,
.grid-7 > .fa {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 38%;
}
.grid-1 > i {
  left: 4%;
}
.grid-7 > i {
  right: 3%;
}
