:root{

}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.main-header{
width: 100%;
padding: 5px;
background-color: #FFE8DF;
}
.sub-header{
width: 90%;
margin:0 auto;
padding: 3px;
/* background-color: red; */
}
.sub-header>p{
font-size: 0.955rem;
font-weight: 500;
font-family: 'Jost',sans-serif;
text-transform: uppercase;
}